doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Jen Berry
		link(rel="stylesheet" type="text/css" href="styles.css")
	body
		img(class="circle" src="me.jpg")
		h1 Jennifer "Mittens" Berry
		h2 Professional
		ul
			li: a(href="http://portfolio.jenberry.co.uk") Web Development Portfolio
			li: a(href="http://github.com/jenberry") Code on GitHub
			li: a(href="JenniferBerryCV2016-04-11.pdf") Download CV
		h2 Personal
		ul
			li: a(href="http://art.jenberry.co.uk") Art Gallery
			li: a(href="http://askmittens.wordpress.com") Life Blog